html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  background-color: lightgray;
  color: black;
  font-family: Arial; }

ul {
  list-style: none; }

#navbar {
  position: relative;
  height: 66px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center; }
  #navbar #pineapple {
    align-self: flex-start;
    position: relative;
    top: 10px;
    margin-left: 20px;
    font-size: 40px; }
  #navbar .navRight {
    margin-left: auto;
    display: flex;
    flex-direction: row; }
    #navbar .navRight a {
      font-size: 14px;
      line-height: 24px;
      color: #6a707b;
      text-decoration: none; }
    #navbar .navRight li {
      margin-right: 20px; }

main {
  height: 100%;
  background-image: url("../img/image_summer.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  main #emailBoxContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%); }

#emailForm {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  min-height: 274px; }
  #emailForm a {
    color: #131821;
    text-decoration-line: underline; }
  #emailForm a:hover {
    color: #4066a5; }
  #emailForm a:active {
    color: #233759; }
  #emailForm #confirmTerms {
    display: flex;
    flex-direction: row; }
  #emailForm h1 {
    font-family: Georgia;
    font-size: 24px;
    line-height: 34px; }
  #emailForm > p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
    color: #6a707b; }
  #emailForm input[type='text'] {
    margin-top: 20px; }
  #emailForm #confirmTerms {
    margin-top: 20px; }
    #emailForm #confirmTerms input[type='checkbox'] {
      display: none; }
    #emailForm #confirmTerms input[type='checkbox'] + label {
      background: #999;
      height: 16px;
      width: 16px;
      display: inline-block;
      padding: 0 0 0 0px; }
    #emailForm #confirmTerms input[type='checkbox']:checked + label {
      background: #0080ff;
      height: 16px;
      width: 16px;
      display: inline-block;
      padding: 0 0 0 0px; }

#socialsContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

#socials {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px; }
  #socials a {
    position: relative;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #e2e3e4;
    font-size: 16px;
    text-decoration: none; }
  #socials a:before {
    font-size: 16px;
    color: #131821;
    opacity: 0.3; }
  #socials a:hover:before {
    color: #ffffff;
    opacity: 1; }
  #socials a.icon-ic_facebook:hover {
    background-color: #4267b2;
    border: 2px solid #4267B2; }
  #socials a.icon-ic_instagram:hover {
    background-color: #c13584;
    border: 2px solid #C13584; }
  #socials a.icon-ic_twitter:hover {
    background-color: #1da1f2;
    border: 2px solid #1DA1F2; }
  #socials a.icon-ic_youtube:hover {
    background-color: #ff0000;
    border: 2px solid #FF0000; }
  #socials a.icon-ic_facebook:active {
    background-color: #2f4a80;
    border: 2px solid #2F4A80; }
  #socials a.icon-ic_instagram:active {
    background-color: #8f2762;
    border: 2px solid #8F2762; }
  #socials a.icon-ic_twitter:active {
    background-color: #177fbf;
    border: 2px solid #177FBF; }
  #socials a.icon-ic_youtube:active {
    background-color: #cc0000;
    border: 2px solid #CC0000; }
