html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  color: black;
  font-family: Arial; }

ul {
  list-style: none; }

.hideMobile {
  display: none; }

#navbar {
  width: 100%;
  height: 66px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row; }
  #navbar .navLeft {
    display: flex;
    align-items: center; }
  #navbar #pineapple {
    align-self: flex-start;
    position: relative;
    margin-left: 20px;
    font-size: 40px;
    margin-top: 10px; }
  #navbar .navRight {
    align-self: center;
    margin-left: auto;
    display: flex;
    flex-direction: row; }
    #navbar .navRight a {
      font-size: 14px;
      line-height: 24px;
      color: #6a707b;
      text-decoration: none; }
    #navbar .navRight li {
      margin-right: 20px; }

#floatingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto; }

#content {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%; }

#background {
  height: 100%;
  width: 100%;
  background-image: url("../img/image_summer.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 55% 100%; }

#emailBoxContainer {
  min-width: 355px;
  min-height: 370px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  height: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%); }

.inputContainer {
  margin-top: 20px;
  position: relative; }

#confirmTerms {
  display: flex;
  flex-direction: row; }

#emailForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  min-height: 244px;
  border-bottom: 1px solid #e3e3e4; }
  #emailForm a {
    color: #131821;
    text-decoration-line: underline; }
  #emailForm a:hover {
    color: #4066a5; }
  #emailForm a:active {
    color: #233759; }
  #emailForm h1 {
    font-family: Georgia;
    font-size: 24px;
    line-height: 34px; }
  #emailForm > p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
    color: #6a707b; }
  #emailForm span.blueBorder {
    height: 60px;
    width: 4px;
    background-color: #4066a5; }
  #emailForm input[type='text'] {
    border-left: none;
    border-top: 1px solid #e3e3e4;
    border-bottom: 1px solid #e3e3e4;
    border-right: 1px solid #e3e3e4;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 50px;
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    width: 100%; }
  #emailForm input[type='text']:focus {
    outline: none;
    border-top: 1px solid #4066a5;
    border-bottom: 1px solid #4066a5;
    border-right: 1px solid #4066a5; }
  #emailForm input[type='text'] + label {
    height: 14px; }
  #emailForm input[type='text'] + label::before {
    position: absolute;
    right: 15px;
    font-size: 14px;
    color: #131821;
    opacity: 0.3; }
  #emailForm input[type='text']:focus + label::before {
    color: #4066a5;
    opacity: 1; }

#emailInputContainer {
  position: relative;
  width: 100%; }

#emailInputFloatingContainer {
  display: flex;
  flex-direction: row;
  align-items: center; }

#confirmTerms {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px; }
  #confirmTerms input[type='checkbox'] {
    opacity: 0;
    z-index: 2;
    height: 26px;
    width: 26px;
    margin: 0 0 0 0; }
  #confirmTerms input[type='checkbox'] + label {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border: 1px solid #e3e3e4;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #confirmTerms input[type='checkbox']:checked + label {
    background: #0080ff;
    border: 1px solid #0080ff; }
  #confirmTerms input[type='checkbox'] + label::before {
    font-size: 11px; }
  #confirmTerms p {
    margin-left: 15px; }

#socialsContainer {
  height: 100%;
  display: flex;
  justify-content: center; }

#socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px; }
  #socials a {
    position: relative;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #e2e3e4;
    font-size: 16px;
    text-decoration: none; }
  #socials a:before {
    font-size: 16px;
    color: #131821;
    opacity: 0.3; }
  #socials a:hover:before {
    color: #ffffff;
    opacity: 1; }
  #socials a.icon-ic_facebook:hover {
    background-color: #4267b2;
    border: 2px solid #4267B2; }
  #socials a.icon-ic_instagram:hover {
    background-color: #c13584;
    border: 2px solid #C13584; }
  #socials a.icon-ic_twitter:hover {
    background-color: #1da1f2;
    border: 2px solid #1DA1F2; }
  #socials a.icon-ic_youtube:hover {
    background-color: #ff0000;
    border: 2px solid #FF0000; }
  #socials a.icon-ic_facebook:active {
    background-color: #2f4a80;
    border: 2px solid #2F4A80; }
  #socials a.icon-ic_instagram:active {
    background-color: #8f2762;
    border: 2px solid #8F2762; }
  #socials a.icon-ic_twitter:active {
    background-color: #177fbf;
    border: 2px solid #177FBF; }
  #socials a.icon-ic_youtube:active {
    background-color: #cc0000;
    border: 2px solid #CC0000; }

@media only screen and (min-width: 800px) {
  .hideMobile {
    display: inline-block; }
  .navLeft {
    align-self: center; }
  .navRight:last-child {
    margin-right: 100px; }
  #emailBoxContainer {
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background: none; }
    #emailBoxContainer h1 {
      font-size: 32px;
      line-height: 44px; }
    #emailBoxContainer p {
      font-size: 16px;
      line-height: 28px; }
  #emailForm {
    min-height: auto;
    padding-bottom: 40px; }
  #floatingBox {
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%); }
  #background {
    background-size: cover;
    background-position: 0 50%; }
  #emailForm {
    position: relative; }
  body {
    display: flex;
    flex-direction: row; }
  #content {
    position: relative;
    min-width: 680px;
    width: 680px;
    background-color: #ffffff;
    flex-grow: 1; }
  #navbar {
    height: auto;
    align-self: flex-start;
    margin-top: 100px; }
    #navbar .navRight a {
      font-size: 16px; }
    #navbar #pineapple {
      color: #4066a5;
      margin-top: -10px;
      margin-left: 100px;
      margin-right: 15px; }
    #navbar li.hideMobile {
      font-size: 16px; }
  #socialsContainer {
    height: auto; }
  .inputContainer {
    margin-top: 50px;
    margin-bottom: 50px; }
  #emailInputContainer {
    position: relative;
    height: 60px; }
  #emailInputFloatingContainer {
    height: 70px;
    position: absolute;
    width: 660px;
    margin-left: -30px; }
    #emailInputFloatingContainer input[type='text'] + label::before {
      margin-right: 40px; }
    #emailInputFloatingContainer span.blueBorder {
      height: 100%; }
    #emailInputFloatingContainer input[type='text'] {
      height: 100%; }
  #socials {
    gap: 20px; }
  .navRight li {
    margin-right: 30px; } }
