@font-face {
	font-family: 'magebit-icons';
	src:  url('fonts/magebit-icons.eot?kbyhhk');
	src:  url('fonts/magebit-icons.eot?kbyhhk#iefix') format('embedded-opentype'),
	  url('fonts/magebit-icons.ttf?kbyhhk') format('truetype'),
	  url('fonts/magebit-icons.woff?kbyhhk') format('woff'),
	  url('fonts/magebit-icons.svg?kbyhhk#magebit-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
 }
 
 [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'magebit-icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
 
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }
 
 .icon-text_pineapple:before {
	content: "\e900";
 }
 .icon-ic_arrow:before {
	content: "\e901";
 }
 .icon-ic_checkmark:before {
	content: "\e902";
	color: #fff;
 }
 .icon-ic_youtube:before {
	content: "\e905";
	color: #fff;
 }
 .icon-ic_twitter:before {
	content: "\e906";
	color: #fff;
 }
 .icon-ic_facebook:before {
	content: "\e907";
	color: #fff;
 }
 .icon-ic_instagram:before {
	content: "\e908";
	color: #fff;
 }
 .icon-logo_pineapple:before {
	content: "\e909";
	color: #4066a5;
 }
 